<div class="login-registration-card">
  <div class="login-registration-progress-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div [ngClass]="{'loading': loading}" class="login-registration-container">
      <ng-container *ngIf="loginFlag; else registration">
        <h1 class="title">Log in</h1>
        <h2 class="subtitle">Type your data and hit Yalla!</h2>
        <app-login (loading)="loading=$event" (logged-in)="loggedIn()" (registration)="loginFlag=false"></app-login>
      </ng-container>
      <ng-template #registration>
        <h1 class="title">Registration</h1>
        <h2 class="subtitle">Type your data and hit Yalla!</h2>
        <app-registration (loading)="loading=$event" (login)="loginFlag=true"
                          (registered)="registered()"></app-registration>
      </ng-template>
    </div>
  </div>
</div>
<app-special-offers></app-special-offers>
<app-footer></app-footer>
