<div class="nav-tabs animated fadeIn" [ngSwitch]="currentTab">
  <ng-template [ngSwitchCase]="1">
    <div class="nav-tab active-tab search" [@ngSwitchTabs]="'show'" (click)="currentTab = 1">
      <label class="tab-label">
        <i class="icon-search"></i>
        Search
      </label>
    </div>
    <div class="nav-tab filter "  [@ngSwitchTabs]="'show'" (click)="currentTab = 2">
      <label class="tab-label">
        <i class="icon-sliders"></i>
      </label>
    </div>
    <div class="nav-tab map " [@ngSwitchTabs]="'show'" (click)="currentTab = 3">
      <label class="tab-label">
        <i class="icon-location"></i>
      </label>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="2">
    <div class="nav-tab active-tab filter " [@ngSwitchTabs]="'show'" (click)="currentTab = 2">
      <label class="tab-label">
        <i class="icon-sliders"></i>
        Filters
      </label>
    </div>
    <div class="nav-tab map " [@ngSwitchTabs]="'show'" (click)="currentTab = 3">
      <label class="tab-label">
        <i class="icon-location"></i>
      </label>
    </div>
    <div class="nav-tab search " [@ngSwitchTabs]="'show'" (click)="currentTab = 1">
      <label class="tab-label">
        <i class="icon-search"></i>
      </label>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="3">
    <div class="nav-tab active-tab map " [@ngSwitchTabs]="'show'" (click)="currentTab = 3">
      <label class="tab-label">
        <i class="icon-location"></i>
        Map
      </label>
    </div>
    <div class="nav-tab search " [@ngSwitchTabs]="'show'" (click)="currentTab = 1">
      <label class="tab-label">
        <i class="icon-search"></i>
      </label>
    </div>
    <div class="nav-tab filter " [@ngSwitchTabs]="'show'" (click)="currentTab = 2">
      <label class="tab-label">
        <i class="icon-sliders"></i>
      </label>
    </div>
  </ng-template>
</div>
<ng-container>
  <div [@ngSwitch]="currentTab===1?'show':'void'" [hidden]="currentTab!==1"><app-sub-search></app-sub-search></div>
  <div [@ngSwitch]="currentTab===2?'show':'void'" [hidden]="currentTab!==2"><app-filters></app-filters></div>
  <div [@ngSwitch]="currentTab===3?'show':'void'" [hidden]="currentTab!==3"><app-map></app-map></div>
</ng-container>
