@import "../../variables";

.details-container {
  display: flex;

  .title {
    font: Bold 2.25em/1.25em Bebas Neue;
    color: $black;
    text-transform: capitalize;

    .year {
      text-align: left;
      font: Bold .6em/1.2em Bebas Neue;
      color: $dark-grey;
      text-transform: capitalize;
      margin-left: 1vw;
    }
  }

  car-price-label {
    margin-left: auto;
    transform: translateY(-50%);
    z-index: 1;
  }
}
