@import "../../variables";

.privacy-police {
  margin: 3vw 8vw 2vw;

  //h1.title {
  //  font: 3rem/1.5em "Rawline SemiBold";
  //  @media screen and (max-width: 800px), (orientation: portrait){
  //    font: Bold 2rem/1.5em Raleway;
  //  }
  //  color: #EA2340;
  //  text-align: center;
  //  margin-bottom: 2vw;
  //}

  //h2.subtitle {
  //  margin-top: 1vw;
  //  font: 2rem/1.5em "Rawline SemiBold";
  //  color: #EA2340;
  //}

  p {
    font: 1rem/1.3em "Rawline Regular";
    color: $black;
    margin-bottom: .5vw;
  }

  a {
    color: $dark-grey;
    text-decoration: underline;
  }

  li {
    font: 1rem/1.3em "Rawline Regular";
    color: $black;
  }
}
