<div class="reserve-dialog-container">
  <div class="title-container">
    <h1 class="title">Order {{car.make}} {{car.model}} {{car.year}}</h1>
    <h2 class="subtitle">From {{dateStart | date:'dd/MM/yyyy'}}
      to {{dateEnd | date:'dd/MM/yyyy'}}</h2>
    <h2 class="subtitle">Price: {{getPrice() | number: '1.0-1'}}$</h2>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div [ngClass]="{'loading': loading}">
    <form (submit)="reserveCar(reserveForm.value)" [formGroup]="reserveForm">
      <div class="input-container">
        <label #firstNameLabel class="input-label" for="firstName">First name <span class="required-marker">*</span></label>
        <input [carInput]="firstNameLabel" autocomplete="name" formControlName="firstName" id="firstName"
               type="text">
        <div *ngIf="isControlInvalid('firstName')" class="error">
          First name is required
        </div>
      </div>
      <div class="input-container">
        <label #secondNameLabel class="input-label" for="secondName">Second name <span class="required-marker">*</span></label>
        <input [carInput]="secondNameLabel" autocomplete="family-name" formControlName="lastName"
               id="secondName"
               type="text">
        <div *ngIf="isControlInvalid('lastName')" class="error">
          Second name is required
        </div>
      </div>
      <div class="input-container">
        <label #emailLabel class="input-label" for="email">Email <span class="required-marker">*</span></label>
        <input [carInput]="emailLabel" autocomplete="email" formControlName="email" id="email" type="email">
        <div *ngIf="isControlInvalid('email')" class="error">
          <div *ngIf="getErrors('emil')?.required">
            Email is required
          </div>
          <div *ngIf="getErrors('emil')?.email">
            Its not look like email
          </div>
        </div>
      </div>
      <div class="input-container">
        <label #phoneLabel class="input-label" for="phone">Phone <span class="required-marker">*</span></label>
        <input [carInput]="phoneLabel" autocomplete="phone" formControlName="phone" id="phone" type="tel">
        <div *ngIf="isControlInvalid('phone')" class="error">
          <div *ngIf="getErrors('phone').required">Phone is required</div>
          <div *ngIf="getErrors('phone').pattern">Wrong phone format</div>
        </div>
      </div>
      <div class="buttons-container">
        <button matDialogClose type="button">Close</button>
        <button [disabled]="reserveForm.invalid" type="submit">Reserve</button>
      </div>
    </form>
  </div>
</div>
