<div class="special-offers-container">
  <div class="title-container">
    <div class="red-line-triangle"></div>
    <span class="title">
      Never mistaken for anything else
    </span>
    <span class="description">One of the best services for renting car for holiday. Here you can rent every car that you want in every city with good prices</span>
    <div class="action-container">
      <span class="action">Affordable prices</span>
      <span class="action">Guaranteed cars</span>
      <a class="login-btn" href="login">Join now!</a>
    </div>
  </div>
  <div class="subtitle-container">
    <div class="cars-count-container">
      <span class="cars-count">3</span>
      <span class="title">most popular choices in your area</span>
    </div>
    <span class="description">The most popular car that we have on our service. You can rent very of them for best price. Just click on them</span>
  </div>
  <div class="offers-container">
    <div class="red line"></div>
    <div class="cars-container">
      <a *ngFor="let car of cars|async" [href]="'car/'+car.serial_number">
        <div class="car-img-container">
          <div [ngStyle]="{backgroundImage: 'url('+car.image_url[0]+')'}" class="car-image"></div>
        </div>
        <div class="car-details-container">
          <span class="car-title">
            {{car.make}} {{car.model}} {{car.year}}
          </span>
          <div class="car-price-label">
            <car-price-label [car]="car"></car-price-label>
          </div>
        </div>
      </a>
    </div>
    <div class="right-top red-triangle"></div>
    <div class="right-top black-triangle"></div>
    <div class="left-bottom red-triangle"></div>
    <div class="bottom">
      <div class="red line">
      </div>
      <div class="black line">
      </div>
    </div>
    <div class="left-bottom black-triangle"></div>
  </div>
  <div class="feedback-container">
    <span class="title">
      Latest feedback from our customers
    </span>
    <div class="feedback-body">
      <div class="feedback">
        <span class="feedback-text">
          Fabulous car!
          Excellent driving, perfect exterior, very comfortable inside.
          Not so dramatic consumption.
          It was great experience!
        </span>
        <span class="feedback-name">Brian O'Corner</span>
        <span class="feedback-date">8 March 2020</span>
      </div>
      <div class="feedback">
        <span class="feedback-text">
          Car is easy driving, good looking and has fantastic speed skill.
          My friend also enjoyed the car.
          We would love to come back !
          We had amazing week with amazing vehicle.
        </span>
        <span class="feedback-name">Barbara Dror</span>
        <span class="feedback-date">19 January 2020</span>
      </div>
      <div class="feedback">
        <span class="feedback-text">
          Our car was modern and extremely well equipped.
          The facilities are great.
          Interior trim is of excellent quality.
          It made us happy after a previous experience in another place.
        </span>
        <span class="feedback-name">John Bayramov</span>
        <span class="feedback-date">25 February 2020</span>
      </div>
      <div class="feedback">
        <span class="feedback-text">
          Dreaming car with the heart of lion.
          We’ve made a distance about 500 miles.
          Modern design. A/C in each zone.
          We loved to drive it and we really enjoyed our adventure.
        </span>
        <span class="feedback-name">Sara Miles</span>
        <span class="feedback-date">14 March 2020</span>
      </div>
      <div class="feedback">
        <span class="feedback-text">
          If I’ll be back in Rome I certainly return to it.
          Lovely transport which had all the amenities one would need at home.
          Perfect comfort I simply loved it.
          I highly recommend this car. :)
        </span>
        <span class="feedback-name">Acacio Frascella</span>
        <span class="feedback-date">12 January 2020</span>
      </div>
      <div class="feedback">
        <span class="feedback-text">
          This car exceeded my expectations.
          One of the best vehicles i have had till now at a generous price.
          The host were really helpful and friendly.
          Would definitely recommend it to everyone.
        </span>
        <span class="feedback-name">Cirilla Di Gennaro</span>
        <span class="feedback-date">12 February 2020</span>
      </div>
    </div>
  </div>
</div>
