<div (swipeleft)="setClosed()" [ngClass]="{'opened': opened}" class="header">
  <a (click)="setClosed()" class="logo" href="/">
    <img alt="logo" src="../../../assets/images/navigator/logo.svg">
  </a>
  <a (click)="setClosed()" *ngFor="let link of navLinks; let index = index"
     [id]="index"
     [routerLink]="link.path"
     class="navigation-link">
    {{link.label}}
  </a>
  <ng-container *ngIf="!loggedIn">
    <a (click)="setClosed()" *ngFor="let link of loginLinks"
       [queryParams]="getUrlParams()"
       [routerLink]="link.path"
       class="navigation-link">
      {{link.label}}
    </a>
  </ng-container>
  <ng-container *ngIf="loggedIn">
    <a *ngFor="let logoutLink of logoutLinks " (click)="setClosed()"
       [queryParams]="getUrlParams()"
       [routerLink]="logoutLink.path"
       class="navigation-link">
      {{logoutLink.label}}
    </a>
    <a (click)="showDeleteAccountDialog()" class="navigation-link">Delete account</a>
  </ng-container>

</div>

<div #mobileHeader class="mobile-header">
  <button (click)="setOpened()"><i class="fas fa-bars"></i></button>
  <a class="logo" href="/">
    <img alt="logo" src="../../../assets/images/navigator/logo.svg">
  </a>
</div>

<div (click)="setClosed()" [ngClass]="{'hidden': opened}" class="hide-div">
</div>
<router-outlet></router-outlet>
