@import "variables";
/**
Loading
 */
.loading {
  opacity: .4;
  pointer-events: none;
}

/**
Titles
 */

h1.title {
  font:  2rem/1.35em "Rawline SemiBold";
  color: $red;
  margin-bottom: 0;
  margin-top: 2vmax;

  @media screen and (max-width: 800px), screen and (orientation: portrait) {
    text-align: center;
  }
}

h2.subtitle {
  font: 1rem/1.35em "Rawline Regular";
  color: $black;
  margin: 0;

  @media screen and (max-width: 800px), screen and (orientation: portrait) {
    text-align: center;
  }
}


/**
Form
 */
form {
  min-width: 200px;
  font-size: .8rem;
  @media screen and (max-width: 800px), screen and (orientation: portrait) {
    width: 80%;
    margin: auto;
  }

  .input-container, .select-container {

    input, textarea, select {
      border: 1px solid $grey;
      border-radius: 0;
      left: 0;
      top: 2em;
      width: 100%;
      background: transparent;
      padding: .5vh 0 .5vh 1vw;
      font: 2em/1em Rawline SemiBold;
      color: $black;

      &.ng-touched.ng-invalid {
        border-color: $red;
      }
    }

    ::placeholder {
      font: .5em/2em "Rawline Regular";
      color: $black;
    }

    option {
      font: 1em/1em "Rawline SemiBold";
      color: $black;
    }

    label.input-label, label.select-label {
      position: relative;
      top: calc(1vh + 2.5em);
      margin-bottom: 0;
      padding: 1px 1px 1px .5em;
      font: 1em/2em "Rawline Regular";
      color: $black;
      transition: .3s;

      &.dirty {
        top: 0;
        padding-left: 0;
      }

      span.required-marker {
        font-size: 1.5em;
      }
    }

    .error {
      color: $red;
      font: 1em/1.5em "Rawline Regular";
    }

  }

  button {
    width: 45%;
    margin-top: 2em;
  }
}

button {
  min-width: max-content;
  background: $red;
  font: 1em "Rawline SemiBold";
  padding: .5em;
  color: $white;
  box-shadow: $shadow;
  border: 0;

  &[disabled] {
    opacity: .65;
  }
}


/**
Close button for dialogs
 */
button.close {
  background: $red 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000052;
  opacity: 1;
  font: 1rem "Rawline SemiBold";
  color: $white;
  border: 0;
  padding: 8px;
  transform: translateY(-16px);
  z-index: 2;
  margin-right: -8px;
  margin-top: 0;
}


/**
Checkbox
 */
input[type=checkbox] {
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

input[type=checkbox] + label.checkbox-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid $red;
  background: transparent;
  margin: .15em;
}

input[type=checkbox] + label.checkbox-label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  left: 0.25em;
  top: 0.36em;
  width: .95em;
  height: .6em;
  border-radius: .1em;
  border-left: .4em solid $red;
  border-bottom: .4em solid $red;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + label.checkbox-label:after {
  opacity: 1;
}

input[type=checkbox]:not(:checked) + label.checkbox-label:after {
  opacity: 0;
}


/**
Presets for all project
 */

*, :before, :after {
  box-sizing: border-box;
}


label {
  display: inline-block;
}

a {
  text-decoration: none;
}
