$shadow: 0 .3vh .3vw #0000005F;
$red: #EA2340;
$black: #062639;
$white: #FFFFFF;
$grey: #5F727E;
$dark-grey: #06263998;
$transparent: #00000000;
$transparent-white: #FFFFFF40;
$transparent-white-strong: #FFFFFF80;

