<form (submit)="login(loginForm.value)" [formGroup]="loginForm">
  <div class="input-container">
    <label #emailLabel class="input-label" for="email">Email <span class="required-marker">*</span></label>
    <input [carInput]="emailLabel" autocomplete="username" formControlName="email" id="email" type="email">
    <div *ngIf="isControlInvalid('email')" class="error">
      <div *ngIf="getErrors('email').required">
        Email is required
      </div>
      <div *ngIf="getErrors('email').email">It'snot look like email</div>
    </div>
  </div>
  <div class="input-container">
    <label #passwordLabel class="input-label" for="password">Password <span class="required-marker">*</span></label>
    <input [carInput]="passwordLabel" autocomplete="current-password" formControlName="password" id="password"
           type="password">
    <div *ngIf="isControlInvalid('password')" class="error">
      Password is required
    </div>
  </div>
  <button [disabled]="loginForm.invalid" type="submit">Y’alla!</button>
</form>
<label class="registration-navigator">Not registered? <span (click)="registrationEmitter.emit()" class="navigator">Click here</span></label>
