@import "../../variables";
.footer-container {

  background: $black;
  display: grid;
  padding-top: 3vh;
  padding-right: 8vw;
  padding-left: 8vw;

  grid-template-areas:
    'description description logo social social'
    'title title title navigator navigator'
    'title title title cities address'
    'title title title cities address';

  @media screen and (max-width: 1200px), (orientation: portrait) {
    padding-top: .2rem;
    grid-template-areas:
      'logo ... ... social'
      'title title title address';
  }

  span.description {
    grid-area: description;
    font: 1rem/1.5em "Rawline Regular";
    color: white;
    align-self: center;
    margin-bottom: 1rem;

    @media screen and (max-width: 1200px), (orientation: portrait) {
      display: none;
    }
  }

  a.logo {
    align-self: center;
    grid-area: logo;
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;

    @media screen and (max-width: 1200px), (orientation: portrait) {

      img {
        height: 1rem;
      }
    }
  }

  .social-networks {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    a {
      color: white;
      font: normal 2rem/2em "Font Awesome 5 Brands";
      letter-spacing: .1em;
      margin: 0 .5em;

      @media screen and (max-width: 1200px), (orientation: portrait) {
        font-size: 1rem;
      }
    }
  }

  .title-container {
    grid-area: title;
    display: flex;
    background-color: $red;

    @media screen and (max-width: 1200px), (orientation: portrait) {
      transform: skew(45deg) translateX(-2rem);
    }

    .title {
      margin-top: auto;
      margin-bottom: auto;
      transform: skew(-45deg);
      font: normal 5rem/1em Bebas Neue;

      @media screen and (max-width: 1200px), (orientation: portrait) {
        font-size: 2rem;
        margin-left: calc(2rem + 2vw);
      }

      color: $white;
      text-transform: capitalize;
    }
  }

  .page-links {
    grid-area: navigator;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 2rem;

    @media screen and (max-width: 1200px), (orientation: portrait) {
      display: none;
    }

    a {
      font: 1rem/1.2em "Rawline SemiBold";
      color: $white;
      margin: 0 1em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .top-cities-container {
    grid-area: cities;
    z-index: 1;
    margin-left: auto;

    @media screen and (max-width: 1200px), (orientation: portrait) {
      display: none;
    }

    span.title {
      font: 1rem/1.5em "Rawline Regular";
      color: $white;
    }

    .top-cities {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1em;

      a {
        font: 1rem/1.5em "Rawline Regular";
        color: $white;
      }
    }
  }

  address.address-container {
    grid-area: address;
    justify-content: end;
    display: grid;

    @media screen and (max-width: 1200px), (orientation: portrait) {
      grid-column: 1 / -1;
      align-content: center;
    }

    a.telephone {
      text-align: right;
      font: Bold 4rem/1em Bebas Neue;
      color: $red;
      text-decoration: none;

      @media screen and (max-width: 1200px), (orientation: portrait) {
        font-size: 2rem;
        grid-column: 1 / -1;
      }
    }

    a.address {
      font: 1rem/1.5em "Rawline Regular";
      color: $white;
      text-align: right;
      text-decoration: none;

      @media screen and (max-width: 1200px), (orientation: portrait) {
        display: none;
      }
    }
  }
}
