<div class="footer-container">
  <span class="description">Best solution for rent your car when you are on holiday</span>
  <a class="logo" href="/">
    <img src="../../../assets/images/navigator/logo.svg">
  </a>
  <div class="social-networks">
    <a href="https://www.facebook.com/"><i class="icon-facebook-squared"></i></a>
    <a href="https://telegram.org/"><i class="icon-telegram"></i></a>
    <a href="https://vk.com/"><i class="icon-vkontakte"></i></a>
    <a href="https://www.instagram.com/"><i class="icon-instagram"></i></a>
    <a href="https://slack.com/"><i class="icon-slack"></i></a>
  </div>
  <div class="title-container"  [ngStyle]="{'transform':'skew(45deg) translateX(calc(' + height / 2 + ' * -1px - 8vw))'}" #title>
    {{showTitle(title.clientHeight)}}
    <div class="title" [ngStyle]="{'margin-right':  height / 2 + 'px', 'margin-left': 'calc(' + height / 2 + 'px + 8vw)'}">The ultimate car rental service</div>
  </div>
  <div class="page-links">
    <a href="search">Search</a>
    <a href="let-car-work">Let the car work</a>
    <a href="terms-of-use">Terms of use</a>
    <ng-container *ngIf="!loggedInFlag; else logout">
      <a href="registration">Sign up</a>
      <a href="login">Log in</a>
    </ng-container>
    <ng-template #logout><a href="logout">Log out</a></ng-template>
  </div>
  <div class="top-cities-container">
    <span class="title">Top cities</span>
    <div class="top-cities">
      <a href="search/results?city=Rome">Rome</a>
      <a href="search/results?city=Tokyo">Tokyo</a>
      <a href="search/results?city=Paris">Paris</a>
      <a href="search/results?city=London">London</a>
      <a href="search/results?city=Los%20Angeles">Los Angeles</a>
      <a href="search/results?city=Moscow">Moscow</a>
      <a href="search/results?city=Warsaw">Warsaw</a>
      <a href="search/results?city=Berlin">Berlin</a>
      <a href="search/results?city=Vienna">Vienna</a>
      <a href="search/results?city=Tel%20Aviv">Tel Aviv</a>
    </div>
  </div>
  <address class="address-container">
    <a class="telephone" href="tel:886-720-5721">866-720-5721</a>
    <a class="address" href="https://www.google.com/maps?q=1600 Amphitheatre Pkwy Mountain View, CA 94043, USA">
      1600 Amphitheatre Pkwy<br> Mountain View, CA 94043, USA</a>
  </address>
</div>
