@import "../../variables";

.search-results-card {
  display: flex;
  padding-top: 2vw;

  @media screen and (max-width: 800px), screen and (orientation: portrait){
    flex-direction: column;
  }

  .search-result-navigator {
    flex-basis: calc(6 / 19 * 100%);
  }

  .search-results {
    flex-basis: calc(13 / 19 * 100%);
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: calc(1.8rem + 1%);
    min-height: 80vh;

    .cars-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .4vw;

      @media screen and (max-width: 800px), screen and (orientation: portrait){
        grid-template-columns: 1fr;
      }

      a.car-container {
        &:hover {
          text-decoration: none;
          box-shadow: 0.2vw 0.2vw 0.4vh 0.1vw #0000005E
        }
      }
    }

    .loading {
      margin: 30% auto;
    }

    h3.no-cars-label {
      font: Bold 3rem/1.5em "Rawline Regular";
      color: $red;
      text-align: center;
    }
  }
}



