@import "../../variables";

.search-card {
  height: max-content;

  @media screen and (min-width: 800px) and (orientation: landscape) {
    background: url("../../../assets/images/search/search-background.webp") no-repeat scroll;
    width: 100%;
    height: calc(692 / 1920 * 100vw);
    background-size: 100% 100%;
  }

  .search-container {
    background: $white;
    box-shadow: $shadow;
    padding-bottom: 2vmin;

    @media screen and (max-width: 800px), screen and (orientation: portrait) {
      width: 100%;
    }

    @media screen and (min-width: 800px) and (orientation: landscape) {
      padding-left: 10vw;
      padding-right: 2vw;
      width: calc(6 / 19 * 100%);
      margin-top: 10vh;
    }

  }
}

button {
  margin-top: 2vh;
}
