@import "../../variables";
.dialog-container {

  .title {
    font:  2rem/1.35em "Rawline SemiBold";
    color: $red;
    margin-bottom: 0;
  }

  .message {
    font: 1rem/1.35em "Rawline Regular";
    color: $dark-grey;
    margin: 0;
  }

  .buttons-container {
    display: grid;
    grid-template-areas: 'negative neutral positive';

    button {
      background: $red;
      min-width: max-content;
      border: 0;
      font: 1em "Rawline SemiBold";
      padding: .5em;
      color: $white;
      box-shadow: 0 .3vh .3vw $black;
      margin-top: 2em;

      &.negative-button {
        grid-area: negative;
      }

      &.neutral-button {
        grid-area: neutral;
      }

      &.positive-button {
        grid-area: positive;
      }

    }
  }

}
