<div class="sub-search-card">
  <h1 class="title">
    Find your car now!
  </h1>
  <form (submit)="search()" [formGroup]="searchForm">

    <div class="input-container">
      <label #cityLabel class="input-label" for="city">City</label>
      <input #cityInput [carInput]="cityLabel" formControlName="city" id="city" placeholder="" type="text">
    </div>

    <div class="input-container">
      <label #datesLabel class="input-label">Dates <span class="required-marker">*</span></label>
      <input (click)="datePicker.open()" [carInput]="datesLabel" [min]="minStartDate" [satDatepicker]="datePicker"
             formControlName="dates" [max]="maxDate">
      <sat-datepicker #datePicker [rangeMode]="true"></sat-datepicker>
      <div *ngIf="isControlInvalid('dates')" class="error">
        <div *ngIf="getErrors('dates').required  && !getErrors('dates').matDatepickerParse">
          Dates are required
        </div>
        <div *ngIf="getErrors('dates').matDatepickerMin">
          You can't pick date before today
        </div>
        <div *ngIf="getErrors('dates').matDatepickerRange">
          Second date must be after first date
        </div>
        <div *ngIf="getErrors('dates').matDatepickerParse">
          Date doesn't exists
        </div>
        <div *ngIf="getErrors('dates')?.minRange">
          You can't book car for less than a day
        </div>
        <div *ngIf="getErrors('dates')?.matDatepickerMax">
          You can't pick date after one year
        </div>
      </div>
    </div>

    <div class="sort-by-container">
      <label class="input-label">Sort by price:</label>
      <input formControlName="ascending" id="low-to-high" type="radio" value="true">
      <label class="sort-by-label" for="low-to-high">
        <label for="low-to-high">Low to high</label>
      </label>
      <input formControlName="ascending" id="high-to-low" type="radio" value="false">
      <label class="sort-by-label" for="high-to-low">
        <label for="high-to-low">High to low</label>
      </label>
    </div>


    <div *ngIf="options" class="custom-slider">
      <label class="input-label" for="priceRange">Price range ($/per day):</label>
      <ngx-slider [options]="options" formControlName="priceRange" id="priceRange"></ngx-slider>
    </div>
    <button [disabled]="searchForm.invalid" type="submit">Search</button>
  </form>
</div>
