@import "../../variables";

.sub-search-card {

  padding-left: 5vw;
  padding-right: 2vw;

  .sort-by-container {
    font-size: 1rem;
    position: relative;
    height: 4em;
    overflow: hidden;
    margin-top: 2vh;

    label.input-label {
      font: 1em/1.5em "Rawline Regular";
      color: $grey;
    }

    input[type=radio] {
      height: 0;
      width: 0;
      opacity: 0;

      &:checked + label {
        background: $grey 0 0 no-repeat padding-box;

        label {
          color: white;
        }
      }
    }

    label.sort-by-label {

      position: absolute;
      top: 2em;
      border: 1px solid $grey;
      transform: skewX(45deg);
      //.75em - half of line high, .1em margin
      width: calc(50% + .75em - .1em);
      margin-bottom: 0;
      //.75em - half of lin high
      padding-left: .75em;

      &[for="low-to-high"] {
        //.75em - half of line high
        left: -.75em;
        margin-right: .1em;
        border-left: 0;


        label {
          border-left: 1px solid $grey;
        }
      }

      &[for="high-to-low"] {
        left: 50%;
        margin-left: .1em;
        border-right: 0;

        label {
          border-right: 1px solid $grey;
        }
      }

      label {
        //.75em - half of lin high
        width: calc(100% - .75em);

        margin: 0;
        padding-left: 2px;
        transform: skewX(-45deg);
        white-space: nowrap;
        font: 1em/1.5em "Rawline Regular";
        color: $dark-grey;
        cursor: pointer;
      }
    }
  }

  .custom-slider {
    font-size: 1rem;
    margin-top: 2vmax;

    label.input-label {
      margin-bottom: 1.5em;
      font: 1em/2em "Rawline Regular";
      color: $black;
    }

    ::ng-deep {
      .ngx-slider {
        .ngx-slider-bar {
          background: $black;
          height: 2px;
        }

        .ngx-slider-bubble {
          font: 1.5em/1em "Rawline SemiBold";
          color: $black;
        }

        .ngx-slider-pointer {
          top: 0; /* to remove the default positioning */
          bottom: auto;
          height: 0;
          width: 0;
          border-bottom: 1em solid $black;
          border-left: .5em solid transparent;
          border-right: .5em solid transparent;
          border-radius: 0;
          background-color: transparent;
        }

        .ngx-slider-pointer:after {
          display: none;
        }

        .ngx-slider-bubble {
          bottom: 1em;
        }

        .ngx-slider-limit {
          font-weight: bold;
          color: $black;
        }

        .ngx-slider-tick.ng5-slider-selected {
          background: $black;
        }

        .ngx-slider-selection {
          background: $black;
        }
      }
    }
  }
}


